
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.router-link-active {
  @apply border-indigo-500 text-gray-900;
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}
